@import "@styles/utils";

.affix {
  position: fixed !important;
  @include breakpoint("to-tablet") {
    position: static !important;
    left: 0 !important;
  }
}

.affix-fixed {
  @include breakpoint("to-tablet") {
    display: none !important;
  }
}
