@import "@styles/utils";

.blog-post {
  &__inner {
    display: flex;
    padding: 0 5%;
    @include breakpoint("to-tablet") {
      flex-direction: column;
    }
  }
  &__sidebar {
    width: 30%;
    margin-left: 50px;
    @include breakpoint("to-tablet") {
      width: 100%;
      margin-left: 0;
    }
    .sidebar {
      margin-top: 0;
    }
  }
  &__description {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__pagination {
    @include breakpoint("phone") {
      margin-bottom: 50px;
    }
    &__item {
      &--disabled {
        visibility: hidden;
        @include breakpoint("phone") {
          display: none;
        }
      }
    }
    img {
      margin-top: 20px;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      li {
        cursor: pointer;
        margin: 0 10px;
        &:not(.next):not(.previous) {
          list-style-type: none;
          text-decoration: none;

          border-radius: 100%;
          width: 35px;
          height: 35px;
          // line-height: 35px;
          text-align: center;

          // margin: 0 6px;
          transition: all 0.3s ease-in-out;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &.active {
          @include themify($themes) {
            background: themed("color-main");
          }
          color: #fff;
        }
        &.next,
        &.previous {
          font-size: 12px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #000000;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 0;
        }
        &::before {
          content: unset;
        }
      }
    }
  }
  &__left-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 70%;
    @include breakpoint("to-tablet") {
      width: 100%;
    }
  }
  &__main {
    display: flex;
    @include breakpoint("to-tablet") {
      flex-direction: column;
    }
  }
  &__content {
    margin-top: 50px;
    width: calc(100% - 80px);
    @include breakpoint("to-tablet") {
      width: 100%;
    }
    code {
      background-color: black;
      padding: 1px 4px;
      color: white;
      border-radius: 3px;
    }
    a {
      color: $color-main;
      &:hover {
        text-decoration: underline;
      }
      &:hover,
      &:focus {
        color: rgba($color-main, 0.7);
      }
    }
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 0px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $color-main;
    }
  }
  &__details {
    display: flex;
    font-size: 1.5rem;
  }
  &__date {
    display: flex;
    align-items: center;
    margin-left: 3px;
    color: rgba(0, 0, 0, 0.8);
    svg {
      margin-right: 5px;
    }
  }
  &__tags {
    display: flex;
    .tag {
      a {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
  &__social {
    width: 80px;
    margin-right: 30px;
    color: #666666;
    @include breakpoint("to-tablet") {
      width: 100%;
      margin: 0;
    }
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      @include breakpoint("to-tablet") {
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
    &__title {
      text-transform: uppercase;
      font-size: 1.8rem;
      @include breakpoint("to-tablet") {
        display: none;
      }
    }
    &__line {
      width: 2px;
      height: 80px;
      background-color: #666666;
      margin: 20px 0;
      @include breakpoint("to-tablet") {
        display: none;
      }
    }
    &__icon {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #666666;
      margin: 20px 0;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: black;
        > svg {
          stroke: white;
        }
      }
      &:first-child {
        margin-top: 0;
      }
      @include breakpoint("to-tablet") {
        margin: 10px;
        &:first-child {
          margin: 10px;
        }
      }
    }
    &__icons {
      @include breakpoint("to-tablet") {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  &__main {
    flex: 1;
  }
  &__comments {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
