@import "@styles/utils";

.advantages {
  position: relative;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    width: 100%;
    @include breakpoint("to-tablet") {
      flex-direction: column;
    }

    @include breakpoint("to-tablet-p") {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 20px;
      margin-bottom: 60px;
    }
  }
  &__dots {
    position: absolute;
    right: 0;
    top: 15%;
    opacity: 0.4;
    @include breakpoint("to-tablet-p") {
      display: none;
    }
  }
  &__right-side {
    padding-left: 5%;
    flex: 1;
    @include breakpoint("to-tablet") {
      padding-left: 0;
    }
  }
  &__bg-illustration {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 800px;
    top: -40px;
    .inner-path {
      animation: advantagesBgIllustration 15s infinite ease-in-out;
    }
    .outer-path {
      animation: advantages2BgIllustration 15s infinite ease-in-out;
    }

    @include breakpoint("to-tablet") {
      width: 60%;
      top: -100px;
    }
    @include breakpoint("phone") {
      width: 90%;
      top: 20%;
    }
  }
  &__left-side {
    width: 50%;
    @include breakpoint("to-tablet-p") {
      width: 100%;
    }
  }
  &__boxes {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;

    @include breakpoint("to-tablet-p") {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@keyframes advantagesBgIllustration {
  0% {
    d: path(
      "M626.827 569.057C743.644 91.952 250.246-1.707-11.056 11.102v656.326c163.954 166.003 521.066 378.732 637.883-98.371z"
    );
  }
  50% {
    d: path(
      "M626.827 559.057C743.644 81.952 250.246 -11.707 -11.0557 1.10155V657.428C152.898 823.431 513.224 1023.03 626.827 559.057Z"
    );
  }
  90% {
    d: path(
      "M626.827 569.057C743.644 91.952 250.246-1.707-11.056 11.102v656.326c163.954 166.003 521.066 378.732 637.883-98.371z"
    );
  }
  100% {
    d: path(
      "M626.827 569.057C743.644 91.952 250.246-1.707-11.056 11.102v656.326c163.954 166.003 521.066 378.732 637.883-98.371z"
    );
  }
}

@keyframes advantages2BgIllustration {
  0% {
    d: path(
      "M645.516 583.307C765.484 85.507 258.774-12.215-9.577 1.149v684.796C158.8 859.149 525.547 1081.11 645.516 583.307z"
    );
  }
  50% {
    d: path(
      "M582.926 481.724C653.52 -13.1421 297.069 -18.9405 -9.57666 10.7087V643.945C232.101 765.957 510.613 988.644 582.926 481.724Z"
    );
  }
  90% {
    d: path(
      "M645.516 583.307C765.484 85.507 258.774-12.215-9.577 1.149v684.796C158.8 859.149 525.547 1081.11 645.516 583.307z"
    );
  }
  100% {
    d: path(
      "M645.516 583.307C765.484 85.507 258.774-12.215-9.577 1.149v684.796C158.8 859.149 525.547 1081.11 645.516 583.307z"
    );
  }
}
