@import "@styles/utils";

.post-preview {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  width: 300px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  @include breakpoint("to-tablet") {
    margin: 30px 0;
  }
  @include breakpoint("phone") {
    width: 100%;
  }

  &__details {
    background-color: white;
    padding: 20px;
  }

  &__description {
    font-size: 12px;
    color: #a7a7a7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__header {
    margin-bottom: 20px;
  }

  &__circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #00c6ff;
    margin-right: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  &__title {
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    margin-bottom: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: $color-main;
    }
  }
  &__image {
    .gatsby-image-wrapper,
    img {
      height: 250px;
    }
  }
  &__read-more {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &__text {
      font-size: 14px;
    }
    &:hover {
      color: #555555;
      .post-preview__circle {
        background-color: transparent;
        border: 2px solid #00c6ff;
      }
    }
  }
}
