@import "@styles/utils";

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  @include breakpoint("to-tablet") {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include breakpoint("laptop") {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include breakpoint("desktop") {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include breakpoint("to-tablet-p") {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--main {
    padding: 0 170px;
    @include breakpoint("to-tablet") {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &--content {
    padding: 0 80px;
    max-width: 1620px;
    @include breakpoint("to-tablet") {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include breakpoint("laptop") {
      padding-left: 140px;
      padding-right: 140px;
    }

    @include breakpoint("desktop") {
      padding-left: 170px;
      padding-right: 170px;
    }

    @include breakpoint("to-tablet-p") {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &--1220 {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;

    padding-left: 20px;
    padding-right: 20px;
  }

  &--1520 {
    margin: 0 auto;
    width: 100%;
    max-width: 1520px;

    @include breakpoint("to-tablet") {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include breakpoint("laptop") {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include breakpoint("desktop") {
      max-width: 1680px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &--1100 {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;

    padding-left: 20px;
    padding-right: 20px;
  }

  &--920 {
    margin: 0 auto;
    max-width: 920px;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
  }

  &--990 {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
  }
}

.is-centered {
  text-align: center;
}

.error {
  font-size: 16px;
  color: $color-error;
  margin-top: 3px;
  height: 5px;
}

.social-icon {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
  display: flex;
  align-items: center;
  z-index: 100;
  &:hover {
    color: black;
  }
  &--search {
    color: white;
    stroke-width: 3px;
    margin-left: 20px;
    &--close {
      color: rgba(black, 0.5);
    }
  }
  &--black {
    color: black;
  }
  &--gray {
    color: #a8a8a8;
  }
}
