h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.025em;
  color: $color-text;
  margin: 15px 0;
  margin-bottom: 12px;
}

$heading-size-1: 60px !default;
$heading-size-2: 38px !default;
$heading-size-3: 32px !default;
$heading-size-4: 30px !default;
$heading-size-5: 24px !default;
$heading-size-6: 18px !default;

p {
  @include breakpoint("to-tablet") {
    margin: 0 0 10px;
  }

  @include breakpoint("from-laptop") {
    margin: 0 0 20px;
  }
}

.title {
  font-size: 59px;
  font-weight: bold;
  line-height: 60px;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  p {
    margin-bottom: 0;
  }
  @include breakpoint("to-laptop-sm") {
    font-size: 50px;
    line-height: 55px;
  }
  @include breakpoint("to-tablet") {
    width: 100%;
    font-size: 55px;
    line-height: 60px;
  }
  @include breakpoint("to-tablet-p") {
    font-size: 40px;
    line-height: 45px;
  }
  @include breakpoint("phone") {
    width: 100%;
    font-size: 45px;
    line-height: 50px;
  }
  span {
    @include themify($themes) {
      color: themed("color-main");
    }
  }
}

.title-2 {
  @extend .title;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 5px;
  @include breakpoint("phone") {
    font-size: 35px;
    line-height: 35px;
  }
}

.description {
  color: black;
  display: block;
  color: #969696;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  @include breakpoint("phone") {
    font-size: 18px;
    line-height: 26px;
  }
}

.sub-title {
  font-size: 18px;
  position: relative;
  font-family: Poppins, sans-serif;
  margin: 5px 10px;
  font-weight: 500;
  color: #3b9dff;

  &-container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .line {
      width: 100%;
      width: 53px;
      height: 2px;

      background-color: #3b9dff;
    }
  }
}

h1 {
  @include breakpoint("phone") {
    @include font-size(32px, 1.2);
  }

  @include breakpoint("tablet") {
    @include font-size(40px, 1.2);
  }
  @include breakpoint("laptop") {
    @include font-size(48px, 1.2);
  }

  @include breakpoint("desktop") {
    @include font-size($heading-size-1, 1.2);
  }
}

h2 {
  @include breakpoint("phone") {
    @include font-size(30px, 1.2);
  }

  @include breakpoint("tablet") {
    @include font-size(34px, 1.2);
  }
  @include breakpoint("laptop") {
    @include font-size(40px, 1.2);
  }

  @include breakpoint("desktop") {
    @include font-size($heading-size-2, 1.2);
  }
}

h3 {
  @include breakpoint("phone") {
    @include font-size(28px, 1.3);
  }

  @include breakpoint("tablet") {
    @include font-size(30px, 1.3);
  }

  @include breakpoint("laptop") {
    @include font-size(32px, 1.3);
  }

  @include breakpoint("desktop") {
    @include font-size($heading-size-3, 1.3);
  }
}

h4 {
  @include breakpoint("phone") {
    @include font-size(26px);
  }

  @include breakpoint("tablet") {
    @include font-size(24px);
  }
  @include breakpoint("laptop") {
    @include font-size(28px);
  }

  @include breakpoint("desktop") {
    @include font-size($heading-size-4);
  }
}

h5 {
  @include breakpoint("phone") {
    @include font-size(20px);
  }

  @include breakpoint("tablet") {
    @include font-size(21px);
  }

  @include breakpoint("laptop") {
    @include font-size(22px);
  }

  @include breakpoint("desktop") {
    @include font-size($heading-size-5);
  }
}

h6 {
  @include font-size($heading-size-6);
}
